Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [96]:
rat = pd.read_csv('ratings.csv')
rat_filtr = rat[rat.rating == 5]
rat_count = rat_filtr.groupby('movieId')['rating'].value_counts()
rat_count.sort_values(ascending = False).head(1)

movieId  rating
318      5.0       153
Name: rating, dtype: int64

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [84]:
data = pd.read_csv('power.csv')

In [138]:
f_c = data[(data['country'] == 'Latvia')|(data['country'] == 'Lithuania')|(data['country'] == 'Estonia') ]
f_y = f_c[(f_c['year']>=2005) & (f_c['year'] < 2010)]
f_cat = f_y[(f_y['category'] == 4)|(f_y['category'] == 12)|(f_y['category'] == 21) & (f_y['quantity'] > 0)]
f_cat.quantity.sum()

201650.0

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [136]:
tab = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
tab.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1012270,-,1019185,"-0,68 %",-06915,21:44:00
1,NaN,EUR/RUB,911149,-,907910,"0,36 %",03239,21:43:00
2,NaN,USD/RUB,771710,-,770825,"0,11 %",00885,21:43:00
3,NaN,JPY/RUB,07340,-,07312,"0,38 %",00028,21:44:00
4,NaN,CNY/RUB,116699,-,116228,"0,41 %",00471,21:43:00